@keyframes bounce-in-fwd {
  0% {
    transform: translateX(-50%) scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(-50%) scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-50%) scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(-50%) scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-50%) scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: translateX(-50%) scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-50%) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-50%) scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes orderWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes orderHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.order {
  padding-bottom: 45px;

  .wrapper {
    overflow: hidden;
  }

  .section-title {
    margin-bottom: 70px;
  }

  &__list {
    overflow: hidden;
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    display: flex;
    flex-wrap: wrap;

    .order__item {
      padding: 48px 15px 225px;
      margin: 0 16px 35px;
    }
  }

  &__item {
    position: relative;
    width: 20.6%;
    background: #fff url("/assets/images/email.png") no-repeat center 135px;

    &:hover,
    &:active,
    &:focus {
      &:before {
        animation: orderHeight 0.3s ease both;
      }

      &:after {
        animation: orderWidth 0.3s ease both;
        animation-delay: 0.3s;
      }

      .order__item-wrap {
        &:before {
          animation: orderHeight 0.3s ease both;
          animation-delay: 0.6s;
        }

        &:after {
          animation: orderWidth 0.3s ease both;
          animation-delay: 0.9s;
        }
      }

      .btn {
        display: inline-flex;
        animation: bounce-in-fwd 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: $orange;
    }

    &:before {
      left: 0;
      bottom: 0;
      width: 2px;
    }

    &:after {
      left: 0;
      top: 0;
      height: 2px;
    }

    &-wrap {
      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: $orange;
        transition: all 0.3s ease;
      }

      &:before {
        right: 0;
        top: 0;
        width: 2px;
      }

      &:after {
        right: 0;
        bottom: 0;
        height: 2px;
      }
    }

    &-consultant {
      background-image: url("/assets/images/consultant.png");
    }

    &-map {
      background-image: url("/assets/images/map.png");
    }

    &-consultation {
      background-image: url("/assets/images/consultation.png");
    }

    &-payment {
      background-image: url("/assets/images/payment.png");
    }

    &-foundation {
      background-image: url("/assets/images/foundation.png");
    }

    &-team {
      background-image: url("/assets/images/team.png");
    }
  }

  &__title {
    color: #000000;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }

  .btn {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    align-items: center;
    background-color: transparent;
    padding: 0;
    color: $orange;
    transform: translateX(-50%);
    transition: all 0.4s ease;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;

      svg {
        transform: translateX(3px);
      }
    }

    svg {
      margin-left: 8px;

      path {
        fill: $orange;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .order {
    .section-title {
      br {
        display: none;
      }
    }
  }
  .order__list {
    left: -1%;
    width: 102%;

    .order__item {
      width: 31.3333%;
      margin: 0 1% 16px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .order {
    .section-title {
      padding-left: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .order__list {
    left: -1%;
    width: 102%;

    .order__item {
      width: 48%;
      margin: 0 1% 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .order__list {
    position: static;
    left: 0;
    width: 100%;

    .order__item {
      width: 85%;
      margin: 0 auto 16px;
    }
  }
}