section.order.section--dark.section-padding
  .wrapper
    h2.section-title
      | Порядок <br /> работы

    ul.order__list
      +orderItem("order__item-email", "1. Вы звоните<br /> или оставляете заявку")
      +orderItem("order__item-consultant", "2. Обсуждаем, чем мы<br /> можем Вам помочь")
      +orderItem("order__item-map", "3. Договариваемся<br /> о месте встречи")
      +orderItem("order__item-consultation", "4. Разовая<br /> консультация")
      +orderItem("order__item-payment", "5. Вы оплачиваейте<br /> услугу по факту работ")
      +orderItem("order__item-foundation", "6. Мы собираем всю<br /> информацию<br /> по Вашему проекту")
      +orderItem("order__item-team", "7. Начинаем совместную<br /> работу над проектом")