@import './utils/reset';
@import './utils/libs';

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  color: $mainColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h1 {
  margin: 0 0 25px;
  color: #fff;
  font-style: normal;
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
  text-transform: none;
  @media screen and (max-width: $tableWidth) {
    font-size: 32px;
    line-height: 48px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 28px;
    line-height: 40px;
  }
}

h2,
.h2 {
  font-weight: 700;
}

.section-title {
  font-size: 54px;
  line-height: 64px;
  padding-left: 35px;
}

h3,
.h3 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
  text-transform: none;
  @media screen and (max-width: $phoneWidth) {
    font-size: 18px;
    line-height: 28px;
  }
}

.mobile-href {
  pointer-events: none;
  @media all and (max-width: $smDesktopWidth ){
    pointer-events: auto;
  }
}

.wrapper {
  max-width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}

ul, ol {
  &.default-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
