.callform {
  max-width: 546px;
  padding: 105px 60px 83px;
  background-color: #fff;
  color: $gray;

  &__title {
    color: #000000;
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: none;
  }

  &__subtitle {
    margin: 0 0 35px;
    color: #000000;
    font-size: 12px;
    line-height: 18px;

    a {
      color: $orange;
    }
  }

  &__item {
    margin: 0 0 45px;

    h3 {
      color: #000000;
      margin: 0 0 22px;
    }
  }

  &__file-input {
    display: none;
  }

  &__btn {
    width: 48%;

    &:hover,
    &:active,
    &:focus {
      color: $orange;
    }
  }

  &__privacy {
    width: 48%;
    margin: 0;
    font-size: 12px;
    line-height: 15px;

    a {
      display: inline-block;
      color: $orange;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease;

      &:hover,
      &:active,
      &:focus {
        border-color: $orange;
      }
    }
  }
}

.form-item {
  position: relative;
  width: 48%;
  margin-bottom: 26px;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &--active {
    input,
    textarea {
      border-color: $orange;
    }
  }

  .label {
    position: absolute;
    left: 0;
    bottom: 12px;
    color: $gray;
    font-size: 12px;
    line-height: 1.2;
    transition: all 0.4s ease;

    &--active {
      font-size: 10px;
      bottom: 35px;
    }
  }

  &__optional {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-size: 10px;
    line-height: 12px;
    color: $gray;
  }

  &__textarea {
    width: 100%;
    margin-bottom: 26px;
    .label {
      bottom: 17px;
      &--active {
        bottom: 42px;
      }
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 15px 0 10px;
    background-color: #fff;
    color: #000000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid $gray;
  }

  textarea {
    width: 100%;
    height: 48px;
    padding-top: 19px;
  }
}

@media screen and (max-width: 1100px) {
  .callform {
    max-width: 466px;
    padding: 45px 25px 35px;
  }
  .form-item__file {
    width: 100%;
    max-width: 204px;
  }
}

