extends ../../layouts/page.pug

include ../../components/header/header.pug
include ../../components/order/order-item.pug
include ../../components/faq/Faq-item

block vars
  - const socialItems = [{"url": "#", "selector": "social__link-instagram"}, {"url": "#", "selector": "social__link-facebook"}, {"url": "#", "selector": "social__link-vk"}, {"url": "#", "selector": "social__link-youtube"}];
  - const title = 'Строй надзор';

block header
  +header("header__main")
block content
  main
    include ../../components/build/build
    include ../../components/order/order
    include ../../components/faq/faq
    include ../../components/principles/principles
block footer
  include ../../components/footer/footer

  include ../../components/modal/modal

  .overlay
    .overlay__wrap

  include ../../components/preloader/preloader