extends ../../layouts/page.pug

include ../../components/header/header.pug
include ../../components/order/order-item.pug
include ../../components/faq/Faq-item

block vars
  - const socialItems = [{"url": "#", "selector": "instagram"}, {"url": "#", "selector": "facebook"}, {"url": "#", "selector": "vk"}, {"url": "#", "selector": "youtube"}];
  - const title = 'Строй надзор';
block header
  +header("header__main")
block content
  include ../../components/build/build
  include ../../components/order/order
  include ../../components/faq/faq
  include ../../components/principles/principles
block footer
  include ../../components/footer/footer

  include ../../components/modal/modal

