mixin social(customSelector, items)
  div(class=`social ${customSelector}`)
    p.social__sub Мы в соц. сетях
    ul(class="social__list")
      each item in items
        li
          a(href= item.url, class= `social__item ${item.selector}`)