.social {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__sub {
    margin: 0 44px 0 0;
  }

  &__item {
    width: 26px;
    height: 26px;
    margin-right: 18px;
    border-radius: 50%;
    border: 1px solid transparent;

    &:hover,
    &:active,
    &:focus {
      border-color: $orange;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    background: url("/assets/images/instagram.png") no-repeat center;
    background-size: contain;
  }

  &__link-youtube {
    background-image: url("/assets/images/youtube.png");
  }

  &__link-facebook {
    background-image: url("/assets/images/facebook.png");
  }

  &__link-vk {
    background-image: url("/assets/images/vk.png");
  }
}

@media screen and (max-width: 700px) {
  .social__sub {
    display: none;
  }
}

@media screen and (max-width: $phoneWidth) {
  .social__item {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}