/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

.body-hidden {
  overflow: hidden;
}

.global-wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 12px;
}

p {
  margin: 0 0 12px;
}

a {
  color: $mainColor;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &.default-list {
    li {
      &:before {
        display: none;
      }
    }
  }
  li {
    padding: 0;
    margin: 0;
  }
}

ul {
  li {
    z-index: 1;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 1px;
    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 8px;
      height: 8px;
      background-color: $orange;
      border-radius: 50%;
    }
  }
}

ol {
  counter-reset: num;
  li {
    position: relative;
    padding: 0 0 0 26px;
    &:before {
      position: absolute;
      left: 0;
      top: 2px;
      content: counter(num) ') ';
      counter-increment: num;
      font-weight: 700;
    }
  }
}

table {
  width: 100%;
  margin: 0 0 15px;
  border-collapse: collapse;
  font-size: 18px;
  text-align: center;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

textarea {
  resize: none;
}