$mainFont: 'Montserrat', sans-serif;

$mainColor: #1f2041;
$mainFontSize: 18px;
$mainLineHeight: 26px;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$default: #000;
$primary: #F7960A;
$success: #009688;
$orange: #EA7303;
$gray: #E0E0E0;
