.header-top {
  display: flex;
  align-items: center;
  .logo {
    width: 76px;
    height: 76px;
    margin-right: 70px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.header-top__nav {

}