.header-main {
  &--fixed {
    padding-top: 125px;
  }
}

.header {
  padding: 35px 0 280px;
  background: $orange url("/assets/images/header-bg.jpg") center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.header-top {
  .wrapper {
    max-width: 1310px;
    display: flex;
    align-items: flex-start;
  }

  .logo {
    width: 102px;
    height: 90px;
    margin-right: 56px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--fixed {
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #000000;
    transition: all 0.3s ease;

    a {
      color: #000000;
    }

    .mobile__btn {
      display: block;
    }

    .logo {
      width: 62px;
      height: 75px;
      margin-left: 25px;
    }

    .header-top__nav .nav__link {
      color: #000000;

      &:before {
        background-color: $orange;
      }
    }

    .contacts .contacts__item {
      color: #000000;
    }
  }
}

.header-top__nav {
  padding-top: 20px;
  margin-right: auto;

  ul {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-right: 58px;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:focus, &:active {
      .nav__link {
        &:before {
          width: calc(100% - 10px);
        }
      }
    }
  }

  .nav__link {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.1;

    &:before {
      content: '';
      position: absolute;
      left: 5px;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: 0.4s all ease;
    }
  }
}

.contacts {
  display: flex;
  padding-top: 20px;

  .contacts__item {
    color: #ffffff;
    line-height: 1.6;
    font-weight: 700;
    transition: all 0.3s ease;
  }

  .contacts__phone {
    margin-right: 45px;
  }

  .contacts__mail {
    border-bottom: 1px solid transparent;

    &:hover,
    &:active,
    &:focus {
      border-color: #fff;
    }
  }
}

.header-bottom {
  padding-top: 135px;

  .wrapper {
    max-width: 1270px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    max-width: 510px;
    padding-top: 25px;
    padding-left: 35px;

    p {
      max-width: 364px;
      margin: 0;
      line-height: 24px;
      font-weight: 700;
    }
  }

  &__right {
    max-width: 404px;
  }
}

.header__list {
  text-align: center;

  &-item {
    margin-bottom: 85px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    margin: 0 0 27px;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;

    span {
      color: #000000;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 12px;
      margin-left: 8px;
      fill: #fff;
      transition: all 0.3s ease;
    }
  }

  &-link {
    color: #ffffff;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
      & + svg {
        transform: translateX(5px);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-top--fixed .logo {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .header-top {
    .wrapper {
      align-items: center;
    }

    .logo {
      width: 82px;
      height: 70px;
      margin-right: 25px;
    }

    .header-top__nav,
    .contacts {
      padding: 0;
    }

    .header-top__nav {
      .nav__item {
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .header-top {
    .header-top__nav {
      display: none;
    }

    .contacts {
      margin-left: auto;
    }

    .mobile__btn {
      display: block;
      margin-top: 0;
    }
  }
  .header {
    padding-bottom: 85px;
  }
  .header-bottom {
    padding-top: 85px;
  }
  .contacts {
    .contacts__item {
      font-size: 16px;
    }

    .contacts__phone {
      margin-right: 15px;
    }
  }
  .header-top--fixed {
    .mobile__btn {
      margin-top: 0;
    }

    .header-top__nav {
      display: none;
    }

    .contacts {
      margin-left: auto;
    }
  }

  .header__list-item {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__list-title {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 900px) {
  .header-bottom {
    .wrapper {
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
    }

    &__left {
      padding: 0;
      max-width: 100%;
      margin-bottom: 35px;
      text-align: center;
      p {
        max-width: 460px;
        margin: 0 auto;
      }
      h1 {
        text-align: center;
        br {
          display: none;
        }
      }
    }

    &__right {
      margin: 0 auto;
    }

    .header__list-title span {
      color: #fff;
      font-weight: 900;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .logo {
      margin: 0 0 0 auto;
    }
    .contacts {
      display: none;
    }
  }
}