section.principles.section-padding.section--dark
  .wrapper
    .principles__wrap
      .principles__item.principles__work
        .principles__work-left
          h2.principles__title
            | Принципы нашей<br /> работы
          p.principles__work-text
            | Тональные основы L’Oréal Paris способны одновременно решать несколько задач: совершенствовать тон, скрывать недостатки, ухаживать за кожей. Палитры представлены в цветах для всех оттенков кожи – от очень светлой до темной. Можно легко подобрать идеальный оттенок для нейтрального, холодного и теплого подтона.
        .principles__work-right
          img(src="/assets/images/principles.jpg", alt="Принципы нашей работы")

      .principles__item.principles__review
        img(src="/assets/images/review.jpg", alt="Обзор строительных кейсов")
        h2.principles__title
          | Обзор строительных кейсов
        .principles__review-wrap
          article.principles__review-item.principles__review-item-history
            h4 История становления
            p
              | Этот водостойкий тональный крем с легкой текстурой ложится невесомым слоем и не сушит кожу. Плотное покрытие выравнивает тон, скрывает прыщи и другие несовершенства, не забивая поры. В составе крема есть микрочастицы, впитывающие излишки себума, благодаря чему кожа целый день выглядит матовой даже на жаре и в условиях высокой влажности. Палитра включает 8 оттенков.

            h5 Пример маркированного списка
            ul.marked
              li совершенствовать тон
              li скрывать недостатки
              li ухаживать за кожей

          article.principles__review-item.principles__review-item-work
            h4
              | Стройнадзорро<br /> как мы работаем
            p
              | В его формуле – эфирные масла, витамины Е и В6, обеспечивающие комфортное нанесение и питание кожи. Гиалуроновая кислота интенсивно насыщает кожу влагой, пантенол обладает заживляющим и разглаживающим действием, высокий солнцезащитный фактор SPF 17 препятствует раннему фотостарению кожи и появлению пигментных пятен.
            p
              | Уникальная технология микрослияния работает на то, чтобы крем идеально подстраивался под оттенок кожи и давал равномерное «невидимое» покрытие. Для этого в состав добавлен комплекс из трех гибридных и четырех классических пигментов.

      .principles__item.principles__why
        img(src="/assets/images/why.jpg", alt="Почему лучше выбрать именно эту компанию?")
        .principles__why-wrap
          h4 Почему лучше выбрать именно эту компанию?
          p
            | Если задача – не просто выравнивание цвета и текстуры кожи, но и ее защита, и увлажнение, выбирайте тональный крем Alliance Perfect «Совершенное слияние» с увлажняющим комплексом, эфирными маслами, витаминами Е и В6. Формула идеально подходит для всех типов кожи: жирной, комбинированной, сухой.

          h5 Пример нумерованного списка
          ol
            li ухаживать за кожей
            li ухаживать за кожей
            li ухаживать за кожей