nav.mobile-nav
  .mobile-nav__wrap
    button(type="button", class="mobile-nav__close")
      | <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
      | <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7279 14.1421L14.1421 12.7279L8.4853 7.07108L14.1422 1.41421L12.728 0L7.07108 5.65687L1.41421 0L0 1.41421L5.65687 7.07108L2.89679e-05 12.7279L1.41424 14.1421L7.07108 8.4853L12.7279 14.1421Z" fill="black"/>
      | </svg>
    ul
      li.mobile-nav__item
        a(href="/services", class="mobile-nav__link") Услуги

      li.mobile-nav__item
        a(href="/order", class="mobile-nav__link") Порядок действий

      li.mobile-nav__item
        a(href="/faq", class="mobile-nav__link") FAQ

      li.mobile-nav__item
        a(href="/contacts", class="mobile-nav__link") Контакты

      li.mobile-nav__item
        a(href ="tel:+79858970001", class="mobile-nav__link") +7 985 897 00 01

      li.mobile-nav__item
        a(href ="mailto:Info@stroynadzorro.ru", class="mobile-nav__link") Info@stroynadzorro.ru